* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

.logo span {
  color: #54d8c9;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #8cdde3;
}

.signin-btn {
  background-color: #779f9ed8;
  color: #4ac7cc;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.signin {
    text-decoration: none;
    color: #111;
}

.signin:hover {
    color: blue;
}

.signin-btn:hover {
  background-color: #73f8f3;
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT35A1gJMXRfnZ3xdfJ-h6YdFsX5oBu8LEMGQ&s")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: left;
}

.card p {
  color: #666;
  font-size: 0.95rem;
}

.card h2 {
  font-size: 1.8rem;
  color: #111;
  margin-top: 10px;
}

.card a {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.card button {
  display: block;
  margin-top: 20px;
  background-color: #8fd3d189;
  color: #66d7d0;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #ffd6d6;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 25px;
  }

  .nav-links {
    display: none;
  }

  .hero {
    height: 60vh;
  }

  .card {
    width: 85%;
    padding: 30px;
  }
}
