* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

.logo span {
  color: #54d8c9;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #8cdde3;
}

.signin-btn {
  background-color: #779f9ed8;
  color: #4ac7cc;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.signin {
  text-decoration: none;
  color: #111;
}

.signin:hover {
  color: blue;
}

.signin-btn:hover {
  background-color: #73f8f3;
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: left;
}

.card p {
  color: #666;
  font-size: 0.95rem;
}

.card h2 {
  font-size: 1.8rem;
  color: #111;
  margin-top: 10px;
}

.card a {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.card button {
  display: block;
  margin-top: 20px;
  background-color: #02f8cb30;
  color: #58fcf1;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card button:hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 25px;
  }

  .nav-links {
    display: none;
  }

  .hero {
    height: 60vh;
  }

  .card {
    width: 85%;
    padding: 30px;
  }
}

.info {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 20px;
}

.info p {
  color: #333;
  margin-bottom: 20px;
  font-size: 1rem;
}

.info strong {
  font-weight: 600;
}

.info h3 {
  font-size: 1.6rem;
  color: #111;
  margin-top: 30px;
  margin-bottom: 20px;
}

ul.benefits {
  list-style-type: disc;
  margin-left: 30px;
  color: #333;
}

ul.benefits li {
  margin-bottom: 15px;
}

ul.benefits li strong {
  font-weight: 600;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 25px;
  }

  .nav-links {
    display: none;
  }

  .hero {
    height: 60vh;
  }

  .card {
    width: 85%;
    padding: 30px;
  }

  .info {
    margin: 50px 20px;
  }
}

.next-button {
  width: 100%;
  background-color: #e53935;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.next-button:hover {
  background-color: #d32f2f;
}

.home {
  color: white;
  text-decoration: none;
}

.home:hover {
  color: rgba(85, 196, 226, 0.856);
}

.footer {
  background: linear-gradient(to top, #1a1a1a, #222);
  color: #fff;
  padding: 60px 80px;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
}

.footer-logo img {
  width: 160px;
  margin-bottom: 40px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-col h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #a7f3fd9a;
}

.newsletter form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  width: 200px;
}

.newsletter button {
  padding: 10px 20px;
  border: none;
  background: #a7f3fd9a;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletter button:hover {
  background: #6bbcc7ad;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #a7f3fd9a;
}

@media (max-width: 900px) {
  .footer-columns {
    flex-direction: column;
  }
}
